{% extends "customer/base_customer.html" %}

{% block title %} Agregar comidas a mi pedido {% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}
    <p class="alert alert-{{ message.tags }}">{{ message }}</p>
{% endfor %}
{% endif %}

<br><br>
{% for c in categories %}
<table class="table table-striped">

  <p><b>SECCIÓN: {{ c.name }}</b></p>
  <thead>
    <tr>
      <th scope="col">Nombre comida</th>
      <th scope="col">Descripción</th>
      <th scope="col">Precio</th>
      <th scope="col">Acción</th>
    </tr>
  </thead>
  <tbody>
    {% for f in food %}
      {% if f.category.id_category == c.id_category %}
    <tr>
      <td>{{ f.name }}</td>
      <td>{{ f.description }}</td>
      <td>{{ f.price }}</td>
      <td>
        <a class="btn btn-success" role="button" href="{% url 'customer:create_order_food' f.id_food %}">Agregar al pedido</a>
      </td>
    </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
<br><br>
{% endfor %}


{% endblock %}