{% load static %}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/administrator/styles.css">
    <title>Mi pedido</title>
</head>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Número pedido</th>
      <th scope="col">Nombre comida</th>
      <th scope="col">Precio Unitario</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Subtotal</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
      <td>{{ order.id_order }}</td>
      <td>{{ item.food.name }}</td>
      <td>{{ item.food.price }}</td>
      <td>{{ item.quantity }}</td>
      <td>{% widthratio item.food.price 1 item.quantity %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
  <br><br>
      <p><b>TOTAL: {{ total_price }}</b></p>
      <a name="" id="" class="btn btn-danger" href="{% url 'customer:cancel_order' order.id_order %}" role="button">Cancelar pedido</a>
    <a name="" id="" class="btn btn-warning" href="{% url 'customer:index_customer' %}" role="button">Volver atrás</a>
