<form enctype="multipart/form-data" action="{% url 'administrator:create_category' %}" method="post">
    {% csrf_token %}

    {% for field in form %}

    <div class="mb-3">
        <label for="" class="form-label">{{ field.label }}</label>
        <input
                type="{{ field.field.widget.input_type }}"
                class="form-control"
                name="{{ field.name }}"
                id=""
                placeholder="{{ field.label }}"
                value="{{ field.value | default:'' }}"

        />
    </div>

    <div class="col-12 help-text">{{ field.errors }}</div>

    {% endfor %}

    <input name="" id="" class="btn btn-success" type="submit" value="Agregar categoría">
    <a name="" id="" class="btn btn-danger" href="{% url 'administrator:home' %}" role="button">Cancel</a>


</form>